/*
Original color- #078ee8
Deep Water-     #0743e8
Light Blue-     #07d9e8
Baby Blue-      #5bbafa
Gray-           #777777
Black-          #000000
*/

body {
    /* background-color: #078ee8;  back-up color*/
    background-image: linear-gradient(to right, #0743e8, #078ee8, #5bbafa, #07d9e8 ); /*This was too pretty not to do it, this is what I pictured */
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

a{
    color: black;
}

.wrapper {
    background-color: antiquewhite;
    width: 96%;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 6%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.Tabbed {
    margin-left: 400px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.pretty{
    font-style: italic;
}

.right{
    float:right;
    margin-left: 10px;
}

.left{
    float:left;
    margin-right: 10px;
}

.clear{
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header{
    background-color: #777777;
    padding: 10px;
}

#headmain{
    background-color: #777777;
}

#headleft{
    float: left;
    width: 60%;

}

#headright{
    float: right;
    width: 40%;
    text-align: right;
    padding-bottom: 10px;

}

.nav-container {
    background-color: #07d9e8;
    text-align: center;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
  }
  
  nav table {
    width: 100%;
    margin: 0 auto;
  }
  
  nav table td {
    padding: 10px; 
}

main{
    width: auto;
    float: left;
}

footer{
    width: auto;
    float: right;
}

figure {
    padding: 4px;
    margin: auto;
}
  
figcaption {
    font-style: italic;
    padding: 2px;
    text-align: right;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

h2 {
    text-align: center;
    size: 70px;
}

hr {
    height:0.1px;
    width: 100%;
    color:#777777;
    text-align:center;
}

strong {
    color: #0743e8;
}
