/*
Original color- #078ee8
Deep Water-     #0743e8
Light Blue-     #07d9e8
Baby Blue-      #5bbafa
Gray-           #777777
Black-          #000000
*/

body{
    background-color: #078ee8;

}

.wrapper{
    background-color: antiquewhite;
}

/* h1{
    text-align: center;
}

hr {
    height:0.1px;
    width:50%;
    color:#07d9e8;
    text-align:center;
} */

